<link rel="stylesheet" type="text/css" href="/stylesheets/order.css">

<div id='order-form'>

{{#each ingredients}}
	<li id='{{this._id}}'>
	<label>
		{{#if this.inStock}}
		<input class='order-checkbox' type='checkbox' enabled>
		{{else}}
		<input class='order-checkbox' type='checkbox' disabled>
		{{/if}}
	</label>
	<div class='dotted-bg'></div>
	<label><input class='name' value='{{this.name}}' readonly></label>
	<span class='price'><input class='price-input' value='{{this.price}}' readonly></input></span>
	</li>
{{/each}}

{{!-- total cost --}}
<li class='total-cost-row'>
	<label>
		<input id='checkbox-placeholder' type='checkbox' disabled>
	</label>
	<label>
		<input value='Total Cost' readonly>
	</label>
	<span>
		<input id='total-cost' class='price-input' value=0 readonly>
  </span>
</li>

<button id='btn-order' type='submit'>Place Order</button>
<div id='result'>
</div>
