* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background-color: white;
	font-family: Impact, Charcoal, sans-serif;
}

#header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: gray;
}
#main-content {
	max-width: 600px;
	margin: 0 auto 0 auto;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}
/*ingredients styles*/

.ingredient {
	text-align: center;
	max-width: 500px;
	margin: auto;
}

.btn-add {
	display: block;
	margin: auto;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 22px;
}

input.price-input {
	width: 50px;

}


/*order menu styles*/
li{
   list-style:none;    
   overflow:hidden;
   padding:5px 0;
   position:relative;
}
li label{
   float:left;
   background:#fff;
   padding-right:10px;
}
li span{
   float:right;
   background:#fff;
   padding-left:10px;
}

.dotted-bg{
   border-top:dotted 2px #ccc;
   position:absolute;   
   top:15px;
   left:0;
   width:100%;
   z-index:-1;
}

.btn-order {
   margin: 0 auto;
   display: block;
}

.total-cost-row {
   border-top: thick double #000000;
}
